<header id="fh5co-header" role="banner">
  <div class="container-fluid" >
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
    <div id="fh5co-logo"><a href="#">Rohit</a></div>
    <nav id="fh5co-main-nav" role="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li class="cta"><a href="#">Login</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container-fluid" style="border-bottom:1px solid #ff8060;">
  <div class="row">
      <div class="col-md-2" >       
      </div> 
      <div class="col-md-1" >       
        </div>     
     <div class="col-md-7" >       
  <nav class="main-nav-list" role="navigation">
        <ul>
          <li><a href="#">Bed</a></li>
          <li><a href="#">Table</a></li>
          <li><a href="#">Chair</a></li>
          <li><a href="#">Matress</a></li>
          <li><a href="#">cupboard</a></li>
          <li><a href="#">Rack</a></li>
          <li><a href="#">Bean Bag</a></li>
       
        </ul>
      </nav>
    </div>
    <div class="col-md-2" >  
      </div> 
</div>