<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">Register</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" (ngSubmit) = "onSubmit(forms)" #forms = "ngForm" >
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="Full Name" ngModel required>
					</div>
          <div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="Email" ngModel required emailvalidator #email="ngModel">
            <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">  
               <p *ngIf="email.errors.required">Email is required</p>  
                 <p *ngIf="email.errors.emailvalidator">Please provide a valid email address</p>  
            </div>  
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="Password" ngModel required>
					</div>
					<!--<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password" ngModel>
					</div>-->
					
					
					<div class="form-group">
						<label for="reg_Mobile" class="sr-only">Mobile No.</label>
						<input type="text" class="form-control" pattern="[1-9]{1}[0-9]{9}" id="reg_mobileNo"  
            onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="reg_mobile_no" 
            maxlength="10" placeholder="Mobile Number" ngModel required>
					</div>
					
					<div class="form-group login-group-checkbox">
						<input type="radio" class="" name="reg_gender_male" id="male" placeholder="username" ngModel>
						<label for="male">Male</label>
						
						<input type="radio" class="" name="reg_gender_female" id="female" placeholder="username" ngModel>
						<label for="female">Female</label>
					</div>
					
					<div class="form-group">
						<!--<label for="reg_address" class="sr-only">Address</label>-->
						<textarea name="comment" form="usrform" class="form-control" rows="4" cols = "50" maxlength="100" name ="reg_address" placeholder="Enter Address here..." ngModel required></textarea>
					</div>

          <div class="form-group">
						<!--<label for="reg_pincode" class="sr-only">Mobile No.</label>-->
						<input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="6"  class="form-control" id="reg_pincode" name="reg_pincode" placeholder="Pincode" ngModel required>
					</div>
				</div>
				<button type="submit" class="login-button"></button>
			</div>
			<div class="etc-login-form">
				<p>already have an account? <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#logInModal" >login here</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>