<div class="container-fluid">
  <div class="row">
    <app-header> </app-header>
  </div>
</div>
<div class="container-fluid text-center" style="margin-top: 45px;max-height: 100%;height: 100%">
  <div class="row">
    <div class="col-lg-2" style="margin-top: 12%">
      <!--<div class="btn-group-vertical"  >
     <a routerLink = "/"  ><button class="button button2">Tables</button></a>
     <a routerLink = "/Chair" ><button class="button button2">Chair</button></a>
     <a routerLink = "/Cupboard" ><button class="button button2">Cupboard</button></a>
     <a routerLink = "/Matress" ><button class="button button2">Matress</button></a>
     <a routerLink = "/Pillow" ><button class="button button2">Pillow</button></a>
     <a routerLink = "/Bed" ><button class="button button2">Bed</button></a>
    </div>-->
      <ul class="nav nav-pills nav-stacked btn-group-vertical">
        <li class="hvr-bob" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/"> Tables</a></li>
        <li class="hvr-bob" routerLinkActive="active"><a routerLink="/Chair">Chair</a></li>
        <li class="hvr-bob" routerLinkActive="active"> <a routerLink="/Cupboard">Cupboard</a></li>
        <li class="hvr-bob" routerLinkActive="active"><a routerLink="/Matress">Matress</a></li>
        <li class="hvr-bob" routerLinkActive="active"> <a routerLink="/Pillow">Pillow</a></li>
        <li class="hvr-bob" routerLinkActive="active"><a routerLink="/Bed">Bed</a></li>
      </ul>
    </div>
    <div class="col-lg-10" style="-webkit-overflow-scrolling: auto">
      <div class="container-fluid">
        <router-outlet> </router-outlet>
      </div>
    </div>
    <!--<div class="col-lg-1">
      <div style="margin-top: 12%;height: -webkit-fill-available;border: 3px solid black;margin-bottom: 10%">
           


      </div>

    </div>-->

    <!-- Modal for login -->
    <div class="modal fade" id="logInModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <!--<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">LogIn</h4>
          </div>-->
          <div class="modal-body">
            <app-user-login> </app-user-login>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!--Modal fo0r login ends-->
    
    <!-- Modal for Sign Up -->
    <div class="modal fade" id="signUpModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <!--<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign Up</h4>
          </div>-->
          <div class="modal-body">
            <app-user-sign-up>  </app-user-sign-up>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!--Modal fo0r sign Up ends-->



    <!-- Modal for Forgot Password -->
    <div class="modal fade" id="forgotPasswordModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <!--<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign Up</h4>
          </div>-->
          <div class="modal-body">
           <app-user-forgot-password> </app-user-forgot-password>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!--Modal fo0r Forgot Password ends-->



  </div>
</div>