/* You can add global styles to this file, and also import other style files */
.grow {
transition: 1s ease;
}

.grow:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

.primary-color{
    color: #E18A07;
}

.primary-background-color{
   background-color: #E18A07;
}

